body
{
    background-color: rgb(15, 105, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 105vh;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}

.container
{   
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_side
{
    position: relative;
    background:#1396d3;
    padding:35px;
}

.profiletext
{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 20px;
/*border-bottom: 2px solid rgba(255, 255, 255, 0.2);*/

}
.profiletext .imgBx
{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 60%;
  overflow: hidden;
  
}
.profiletext .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profilename h2
{
  color: rgb(2, 2, 2);
  margin-top: 20px;
  /* text-transform: titlecase; */
  text-align: center;
  font-weight: 500px;
  line-height: 1em;

  font-size:  14pt;
  font-weight: 250px;
}

.container .right_side
{
    position: relative;
    background: #c4deee;
    padding: 40px;
}
.container .right_side h1{
    color: #116ba7;
    font-size: 20pt;
}
  

.sub_content h2
{
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 16pt;
  color: #1477b9;
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
}

.sub_content p
{
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-size: 12pt;
  color: black;
}
.row
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.progressbar {
  height:10px;
  width:100%;
  background-color: rgb(247, 232, 210);
}

.progress{
    height:10px;
    width:90%;
    background-color: rgb(0, 0, 0);
}

.techskills p{
    margin-bottom: 5px;
}